// Variables
$facebook_blue: #3b5998;
$facebook_gray: #bdc7d8;
$facebook_green: #69a74e;
$facebook_gray-darken: darken($facebook_gray, 10%);

.input-style {
  color: $facebook_blue;
  font-family: "Roboto", sans-serif;
  background: white;
  margin: 0 5px;
  padding: 6px 8px 4px 8px;
  font-size: 20px;
  border-radius: 10px;
  border: $facebook_gray 1px solid;
  box-sizing: border-box;
  line-height: 20px;
  outline: none;
  margin-bottom: 10px;

  &::-webkit-input-placeholder {
    color: $facebook_gray;
  }
  &:focus {
    border-color: $facebook_gray-darken;
    &::-webkit-input-placeholder {
      color: $facebook_gray-darken;
    }
  }
}

select#birthday-day {
  @extend .input-style;
  text-align: center;
  width: 80px;
}
select#birthday-month {
  @extend .input-style;
  width: 80px;
  text-align: center;
}
select#birthday-year {
  @extend .input-style;
  text-align: center;
  width: 100px;
}
