main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
  font-weight: 800;
  color: rgb(77, 77, 77);
}

.description {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  .switch {
    margin-bottom: 30px;
  }
  span {
    color: #bdc7d8;
    margin-bottom: 10px;
  }
  .submit-button {
    background-color: #3b5998;
    color: white;
  }
  .error {
    color: red;
    font-size: 15px;
  }
}

.date {
  display: flex;
  align-items: flex-end;
  span {
    font-size: 30px;
  }
}

.name-description {
  border-top: 5px solid #e2ebff;
  padding: 30px 10px 0 10px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
