main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 30px;
  .switch {
    margin-bottom: 30px;
  }
  span {
    color: #bdc7d8;
    margin-bottom: 10px;
  }
  .submit-button {
    background-color: #3b5998;
    color: white;
  }
  .error {
    color: red;
  }
}

.date {
  display: flex;
  align-items: flex-end;
  span {
    font-size: 30px;
  }
}

.name-description {
  border-top: 5px solid #e2ebff;
  padding: 30px 10px 0 10px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
