@font-face {
  font-family: "SDMiSaeng";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.content {
  font: 400 1em/1.5 "Neuton";
  color: black;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  transform: translateY(20px);
  opacity: 0;
  animation: appear 2.7s forwards;
  width: 100%;
}

@keyframes appear {
  from {
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

p {
  margin: 50px 0 20px 0;
  // text-transform: lowercase;
  letter-spacing: 0.3em;
  display: inline-block;
  border: 4px double black;
  text-align: center;
  border-width: 4px 0;
  padding: 1.5em 0em;
  width: 100%;
  padding: 30px 0;
  font-size: 20px;

  span {
    font: 100 4em/1 "SDMiSaeng", sans-serif;
    font-size: 100px;
    letter-spacing: 0.1em;
    display: block;
    margin: 0 auto;
  }
}

.discord {
  text-decoration: none;
  color: black;

  .icon {
    i {
      font-size: 60px;
      margin-top: 15px;
      color: #6179c7;
    }
  }
  .ment {
    font-weight: 700;
    font-size: 15px;
  }
}

.desc__name {
  font-family: "JSDongkang-Regular";
}

// Copyright (c) 2020 by Daniel Riemer (https://codepen.io/zitrusfrisch/pen/fjbal)
// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

.displayBlock {
  display: none;
}

.displayLoading {
  visibility: hidden;
}

.social__share {
  padding: 0 30px;
  .desc__name {
    font-size: 20px;
  }
  .desc__desc {
    font-size: 30px;
    font-weight: 700;
  }
  .descrip {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

// 5, SE
@media all and (min-device-width: 320px) and (min-device-height: 568px) {
  // .content {
  //   width: 320px;
  // }
  p {
    letter-spacing: 0.01em;
    // width: 320px;
    width: 100%;
  }
}

// 6,7,8
@media all and (min-device-width: 375px) and (min-device-height: 667px) {
  // .content {
  //   width: 300px;
  // }
  p {
    letter-spacing: 0.07em;
    // width: 300px;
    width: 100%;
  }
}

//678 plus
@media all and (min-device-width: 414px) and (min-device-height: 736px) {
  // .content {
  //   width: 414px;
  // }
  p {
    letter-spacing: 0.08em;
    // width: 414px;
    width: 100%;
  }
}

// x
@media all and (min-device-width: 375px) and (min-device-height: 812px) {
  // .content {
  //   width: 100%;
  // }
  p {
    letter-spacing: 0.07em;
    // width: 375px;
    width: 100%;
  }
}

// ipad
@media all and (min-device-width: 768px) and (min-device-height: 1024px) {
  // .content {
  //   width: 768px;
  // }
  p {
    letter-spacing: 0.4em;
    width: 768px;
    font-size: 1.2em;
  }
}

// ipad pro
@media all and (min-device-width: 1024px) and (min-device-height: 1366px) {
  // .content {
  //   width: 1024px;
  // }
  p {
    letter-spacing: 0.4em;
    // width: 1024px;
    width: 100%;

    font-size: 1.5em;
  }
}
