$button-bg: rgb(59, 89, 152);
$button-text-color: #fff;
$baby-blue: #f8faff;

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 15px 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(59, 89, 152, 0.5);
  animation: button-move 1.5s ease-in-out infinite;
  &:focus {
    outline: 0;
  }
}

@keyframes button-move {
  0% {
  }
  10% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  30% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
  }
}
