// Variables
$facebook_blue: #3b5998;
$facebook_gray: #bdc7d8;
$facebook_green: #69a74e;
$facebook_gray-darken: darken($facebook_gray, 10%);

.input-style {
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  background: white;
  padding: 6px 8px 4px 8px;
  font-size: 16px;
  border-radius: 2px;
  border: $facebook_gray 1px solid;
  box-sizing: border-box;
  line-height: 20px;
  outline: none;
  &::-webkit-input-placeholder {
    color: $facebook_gray;
  }
  &:focus {
    border-color: $facebook_gray-darken;
    &::-webkit-input-placeholder {
      color: $facebook_gray-darken;
    }
  }
}

input#birthday-day {
  @extend .input-style;
  width: 22%;
  display: inline-block;
  margin-right: 0;
}
input#birthday-month {
  @extend .input-style;
  width: 22%;
  display: inline-block;
  margin: 0;
}
input#birthday-year {
  @extend .input-style;
  width: 41%;
  display: inline-block;
  margin-left: 0;
}
