extends layouts/main

block content
    .title KOREAN NAME
    .description Make your first Korean Name by your birthday
    
    form.form#jsBirth(action=routes.submit, method="post")
        span Select your gender
        .switch
            input#left-switch(type="radio", name="gender", value="male" checked)
            label(for="left-switch") Male
            input#right-switch(type="radio", name="gender", value="female")
            label(for="right-switch") Female
            .switch-bg
        span Put your birth
        .date
            input(type="text" name="day" maxlength="2" size="2" placeholder="DD" id="birthday-day")
            span .
            input(type="text" name="month" maxlength="2" size="2" placeholder="MM" id="birthday-month")
            span .
            input(type="text" name="year" maxlength="4" size="4" placeholder="YYYY" id="birthday-year")
        input.bubbly-button(type="submit", value="GET NOW!")


    .name-description Most of the Korean names consist of three syllables <br>(sometimes two or four).<br>Each syllable represents a different meaning, and they combined to create one single signification.
