extends layouts/main

block content
    .content.displayBlock
        <p>This is your first Korean name!<span>#{name}</span>[#{pronunciation}]</p>

        //- <!-- Go to www.addthis.com/dashboard to customize your tools -->
        .social__share <span class="desc__name">#{name}</span> means #{description} in English.<br>
            //- .addthis_inline_share_toolbox
            a.discord(href="https://discord.com/invite/nyzTvqK")
                .icon
                    i.fab.fa-discord
                .ment ↑ Korean Learning Community (with Ryan)
            .join__ment Join with your korean-name!
            
    .loading-wrap
        .loading-background
            .loading
                .bar
                .bar
                .bar
                .bar
                .bar
        span Searching for your name
        